header{
    
    background-color: rgb(44, 88, 139);
    
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 0px;
    width: 100%;
    height: 30%;
}

header img{
    width : 20%;
    margin:1%;
    display: inline-block;
}

h1{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 6%px;
    
}

h2{
    color: #000000;
    text-transform: uppercase;
}

.left {
    background-color: #537417;
    width: 20%;
    
    float: left;
    margin-right: 5px;
    height: 100vh ;

    color: aliceblue;
    text-align: center;
    font-size: 100%;
    /*display: inline-block;*/
}
/*.left img{
    display: block;
    width: 80%;
    margin : 20% auto ;
    outline-style: solid;
    outline-color: #000000;
 }   
    */

.right{
    display: float;
    float: right;
    width: 78%;
}

#classpic{
    width : 80%;
}

nav a{
    color: #000000;
    background-color: #ffffff4f;
    display: inline-block;
    text-align: center;
    width: 14%;
    
    font-size:80% ;
    margin-left:2.5%;
    margin-right: 2.5%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 7px;
    text-decoration: none;
    align-self: center;


}
nav a:hover{
    background-color: #ffffff;
}

.active{
    background-color: #ffffff;
}

body{
    margin: 1% 1%;
    padding: 1% 1%;
    text-align: justify;
}

/*:activetable{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    font-weight: 100;
    line-height: inherit;
    width : 80%;
    margin : auto;
}

tr *{
    opacity: 0.69;
    height: 4.5vh;
    background: linear-gradient(#f5ce95,#a9e908);
    text-align: center;
    border-radius: 2px;
    text-shadow: aquamarine;
}

th{
    background: linear-gradient(#537417,#a9e908);
    border-radius: 4px 4px 0px 0px;
    height: 4vh;
    color: #ffffff;
    opacity: 1 !important;
    margin: 4px;
    text-shadow: rgba(93, 93, 121, 0.541);
    border-bottom: cadetblue;


}

tr th:first-child , td:first-child {
    text-align: left;
    padding-left: 1vw;
}

table :hover >td {
    opacity: 1;
}*/